.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DataPage */

.itemDescription{
  padding-left: 1em;
  padding-right: 1em;
}

.spanGoBack{
  font-size: 70%;
  margin-right: 5em;
}

span{
  color: green;
}


/* Card */


.divTitle{
  border: solid 1px grey;
  margin: 2em;
  width: min(10em);
  height: auto ;
}

/* FisrtPage */

.divInput{
  margin: 0.5em;
}

.divInput input:hover{
 font-size: 110%;
}


.divInput input:focus{
 font-size: 110%;
}

.divCardFirstPage{
  display: grid;
 grid-template-columns: 20% 20% 20%  20%;
 column-gap: 2.6em;

}

.divFirstPage{
  margin: 0 auto;

 margin-left: 1em;
}

/* @mediaQueries */

@media (max-width: 80em)  {

.divCardFirstPage{
    display: grid;
   grid-template-columns: 12% 12% 12% 12% ;
    column-gap: 4em;

  }

  .divFirstPage{
 margin-left: 0em;
}

} 

@media (max-width: 75em){

.divCardFirstPage{
    display: grid;
   grid-template-columns: 20% 20% 20%; 
     column-gap: 3em;

  }

 .divFirstPage{
 margin-left: 2em;
}

}

@media (max-width: 60em) {

.divCardFirstPage{
    display: grid;
   grid-template-columns: 20% 20% 20%; 
  column-gap: 2em;
  }

    .divFirstPage{
 margin-left: 0em;
}

}

@media  (max-width: 50em) {

.divCardFirstPage{
    display: grid;
   grid-template-columns: 20% 20%; 
  column-gap: 5em;
  }

    .divFirstPage{
 margin-left: 0em;
}

}